.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
erl_crash.dump
.rebar
_build
.idea
*.iml
rebar3.crashdump
*~
!/_build/
/_build/
/_build/default/lib/cowboy/
/_build/default/lib/cowlib/
/_build/default/lib/jsone/
/_build/default/lib/log4erl/
/_build/default/lib/mochiweb/
/_build/default/lib/mysql/
/_build/default/lib/ranch/
/logs/
