%%{erl_opts, [debug_info]}.
{deps, [
    {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.7.0"}}},
    {mysql, {git, "https://github.com/dizzyd/erlang-mysql-driver.git", "master"}},
    {log4erl, {git, "https://github.com/ahmednawras/log4erl.git", "master"}},
    {jsone, {git, "https://github.com/sile/jsone.git", {tag, "1.5.2"}}}
%%    {gpb, {git, "https://github.com/tomas-abrahamsson/gpb.git", {tag, "4.11.1"}}}
%%
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [erlim]}
]}.


{erl_opts, [
    debug_info,
    {i, "./_build/default/plugins/gpb/include/"}
]}.

{plugins, [
    {rebar3_gpb_plugin, "2.10.0"}
]}.

{gpb_opts, [
    {i, "proto"},
    {o_erl, "src"},
    {o_hrl, "include"},
    {module_name_suffix, "_pb"},
    {strings_as_binaries, true},
    {recursive, true},
    type_specs
]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.